* {
  box-sizing: border-box;
}

body{
  background-color: #FFBD7E;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.75em;
  font-weight: 400;
  text-align: center;
}
h2 {
  font-size: 1.25em;
  font-weight: 400;
}
h3 {
  font-size: 0.75em;
  font-weight: 400;
}
h4 {
  font-size: 0.35em;
  font-weight: 400;
}
h5 {
  font-size: 1.75em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;;
}
h6 {
  font-size: 1.15em;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25;
}
img {
  width: 100%;
}
a {
  color: #252323;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #ab6018;
}
a:hover,
a:focus {
  color: #252323;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #414142;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #252323;
  color: #FFFFFF; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 25px;
  border-bottom: 0px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:visited {
  color: #ffffff
}
.button:hover {
  background-color: #F7D3B0;
  color: #252323;
}
.button:active{
  background-color: #F7D3B0;
  color: #252323;
}
.button.contact {
  background-color: transparent;
  color: #252323;
  text-transform: uppercase;
  border: 2px solid #252323;
}
.button.contact:hover {
  background-color: #252323;
  color: #ffffff;
}
.about-me {
  color: #252323;
}
.my-work {
  color: #252323;
}
.contact-me {
  color: #252323;
}

header {
  background-color: #FFBD7E;
  text-align: center;
  padding: 10px 0;
position: relative;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}
.row{
  margin: 25px 0;
}
.column{
  margin-bottom: 15px;
}
#hero h1{
  text-align: center;
}
.logo{
  max-width: 250px;
}
.logo svg{
  width: 200px;
}
nav > ul {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
}
nav > ul > li {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #252323;
}
nav > ul > li > a:visited {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #252323;
}
nav > ul > li > a:hover {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #252323;
}
nav > ul > li > a:active {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
#hero {
  background-color: #FFBD7E;
}
#hero {
  background-color:#FFBD7E;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
footer {
  background-color: rgba(247,211,176,0.8);
  text-align: center;
  padding: 10px 0;
}
.social{
  text-align: center;
}
.social a {
  display: inline-block;
  margin: 0 5px;
}
.social svg {
  width: 50px;
  height: auto;
}
.photo {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
